# Ignore virtual environment
.venv/

# Ignore common Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints (in case you add any)
.ipynb_checkpoints/

# Ignore IDE-specific folders
.vscode/
.idea/

# Ignore test results
TestResults.xml

# Ignore markdown or readme if not needed
README.md

# Ignore gitignore itself if not to be tracked
.gitignore
